.resize {
    width:100px;
    height:40px;
    outline-color: red;
}

.padding {
    padding: 8px;
}

.w3-display-container {
    display: flex;
    gap: 10px;
}

.w3-input {
    margin-bottom: 15px;
}

.w3-button {
    padding: 10px;
    border-radius: 5px;
}

.w3-container {
    text-align: center;
}
